<body>
	<div class="container">
		<div class="levaya">
			<img
				class="imagecl"
				src="../../../assets/images/198c43c29380ab4a9421796d89ba3525.png"
				alt="Аватарка"
			/>
			<p class="imya">
				Инсаф Ахметзянов
				<img
					class="iconout"
					src="../../../assets/icons/Property-1_Variant10.png"
					alt=""
				/>
			</p>
			<p class="vihod">Выйти</p>
			<div class="knopka-razdel">
				<img
					class="iconuved"
					src="../../../assets/icons/Property 1=Default.png"
					alt=""
				/>
				<p class="uved">Нет новых уведомлений</p>
			</div>
			<p class="ramka"></p>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property 1=Variant2.png"
				/>
				<p class="vkl">Главная</p>
			</div>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property 1=Variant3.png"
				/>
				<p class="vkl">Мой профиль</p>
			</div>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property 1=Variant4.png"
				/>
				<p class="vkl">Команды</p>
			</div>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property 1=Variant5.png"
				/>
				<p class="vkl">Таймлайн</p>
			</div>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property 1=Variant6.png"
				/>
				<p class="vkl">Интенсив</p>
			</div>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property-1_Variant7.png"
				/>
				<p class="vkl">Задачи</p>
			</div>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property-1_Variant8.png"
				/>
				<p class="videlenie">Мастерская</p>
			</div>
			<div class="knopka-razdel">
				<img
					class="iconglav"
					src="../../../assets/icons/Property-1_Variant9.png"
				/>
				<p class="vkl">О мероприятии</p>
			</div>
			<img
				class="imagehacaton"
				src="../../../assets/icons/hacatonRUS.png"
				alt="ХакатонРус"
			/>
		</div>
		<h1>Мастерская</h1>
		<div class="osnova">
			<div class="text">
				<p class="p-blue">Название идеи:</p>
				<input
					type="text"
					class="input-field small"
					placeholder="Тык"
				/>
				<p class="p-blue">Кратко опишите свою идею:</p>
				<textarea
					class="input-field big"
					rows="3"
				placeholder="Тык"
				></textarea>
                <p class="p-blue"></p>
			</div>
		</div>
	</div>
</body>
